.header {
	/* background-color: rgb(79, 97, 184); */
	background-color: #6e6b6b;
	display: flex;
	height: 60px;
	width: 100%;
	z-index: 100;
	position: sticky;
	top: 0;
	align-items: center;
}

.header__search {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 24px;
	
}

.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
	border-radius: 10px;
}

.header__searchIcon {
	width: 60px;
	margin-left: 5px;
	padding: 5px;
	height: 30px !important;
	background-color: #c7d889;
	border-radius: 0px;
}

.header__logo {
	display: flex;
	width: 60px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 2px;
	transition: transform .7s ease-in-out;
}

.header__nav {
	margin-right: 3px;
	display: flex;
	
}

.header__option {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ffffff;
}

.header__optionLineOne {
	font-size: 10px;
}

.header__optionLineTwo {
	font-size: 13px;
	font-weight: 800;
}

.header__optionBasket {
	display: flex;
	align-items: right;
	background-color: #c7d889;
}

.header__optionBasketCount {
	margin-left: 10px;
	margin-right: 10px;
	height: 20px !important;
}
.header__logo:hover{
	transform: rotate(360deg);
}